body *{
    font-family: 'Helvetica', sans-serif;
}

h1 {
    font-weight: 1000;
    font-size: 1200;
}

h2 {
    font-weight: 800;
}

/* body {
    background-color: lightgray;
} */

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 30px;
    position: relative;
    z-index: 1;
}

.title-container {
    display: flex;
    flex-direction: column; /* Vertically align elements */
    align-items: center; /* Horizontally center the content */
    height: 500vh;
    position: relative;
    z-index: 1;
    background-color: rgba(254,224,210,1);
    width: 1000px;
    margin: auto;
    padding-bottom:50px;
    padding: 10px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.container-text {
    font-size: 20px;
    text-align: center;
    /* padding-top: 30px; */
    /* padding-bottom:30px; */
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px; */
}

.heading{
    text-align: center;
    margin-bottom: 40px;
}

.subsection_heading{
    text-align: center;
    margin-bottom: 20px;
}

.subsection {
    display: flex;
    flex-direction: column; /* Vertically align elements */
    align-items: center;
    height: 80vh;
    position: relative;
    z-index: 1;
    background-color: white;
    width: 900px;
    margin: auto;
    padding-bottom: 50px;
    padding: 10px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.visualization {
    flex: 1; /* Take up remaining space on the left */
    padding-left: 30px;
}

.vis-container {
    width: 100%;
    /* text-align: center;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
     */
    
}

.center-container-text {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;    /* Vertically center the content */
    height: 30vh;          /* Ensure the container covers the full viewport height */
    position: relative;
    z-index: 1;
    background-color: hsla(0, 0%, 83%, 0.9);
    width: 1000px;
    margin: auto;
    padding: 20px;
    padding-top: 20px;
    margin-top: 10px; /* Add margin to create a gap from the page container */
    margin-bottom: 20px; /* Add margin to create a gap from the page container */
    border-radius: 50px; /* Rounded corners, adjust the value as needed */
  }

.text-container-last {
    font-size: 18px;
    text-align: center;
    padding-top: 70px;
    padding-bottom:70px;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.title-container-last{
    text-align: center;
    margin-bottom: 20px;
    padding-left: 30px;
}

.text {
    flex: 1; /* Take up remaining space on the right */
    padding-left: 40px; /* Add some spacing between visualization and text */
    padding-right: 20px;
    font-size: 20px;
}








.visualization-2 {
    flex: 1; /* Take up remaining space on the right */
    padding-left: 35px; /* Add some spacing between visualization and text */
    padding-right: 20px;
    font-size: 20px;
}
.visualization-3 {
    flex: 1; /* Take up remaining space on the right */
    padding-left: 35px; /* Add some spacing between visualization and text */
    padding-right: 20px;
    font-size: 20px;
}
.text-2 {
    flex: 1; /* Take up remaining space on the right */
    padding-left: 30px;
    font-size: 20px;
}
.pure-g {
    margin-bottom: 40px;
}
.description-left {
    padding-right: 20px;
}
